* {
  box-sizing: border-box;
}

body {
  background: #111;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-size: 5vw;
  width:100vw; 
  overflow-x:hidden !important;
  color:white;
  font-family:sans-serif;
}

.container {
  width: 3000%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  
  margin-bottom: 1px;
}

.section {
    width: 95vw;
    height: 100vh;
    border-right: 1px solid black;
    background: white;
    color: black;
}
.pin-spacer {
 
}
@media screen and (min-width: 1004px){
	* {
  box-sizing: border-box;
}
padding
body {
  background: #111;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-size: 5vw;
  width:100vw; 
  overflow-x:hidden !important;
  color:white;
  font-family:sans-serif;
}
	.container {
  width: 3000%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  
  margin-bottom: 1px;
}

.section {
    width: 95vw;
    height: 100vh;
    border-right: 1px solid black;
    background: white;
    color: black;
}
.pin-spacer {
 
}
}

